@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "neonbird";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(13% 0.028 261.692);
  --color-base-200: oklch(21% 0.034 264.665);
  --color-base-300: oklch(27% 0.033 256.848);
  --color-base-content: oklch(96% 0.003 264.542);
  --color-primary: oklch(51% 0.222 16.935);
  --color-primary-content: oklch(98% 0.003 247.858);
  --color-secondary: oklch(82% 0.189 84.429);
  --color-secondary-content: oklch(98% 0.031 120.757);
  --color-accent: oklch(70% 0 0);
  --color-accent-content: oklch(98% 0.016 73.684);
  --color-neutral: oklch(13% 0.028 261.692);
  --color-neutral-content: oklch(98% 0.002 247.839);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(64% 0.2 131.684);
  --color-success-content: oklch(26% 0.051 172.552);
  --color-warning: oklch(68% 0.162 75.834);
  --color-warning-content: oklch(98% 0 0);
  --color-error: oklch(27% 0.105 12.094);
  --color-error-content: oklch(98% 0.003 247.858);
  --radius-selector: 0.25rem;
  --radius-field: 0.5rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 1;
  --noise: 1;
}

@plugin "daisyui/theme" {
  name: "emerald";
  default: true;
  prefersdark: true;
  color-scheme: "light";
  --color-base-100: rgb(250, 250, 250);
  --color-base-200: rgb(245, 245, 245);
  --color-base-300: rgb(235, 235, 235);
  --color-base-content: rgb(55, 55, 55);
  --color-primary: rgb(128, 0, 32);
  --color-primary-content: rgb(255, 255, 255);
  --color-secondary: rgb(0, 128, 128);
  --color-secondary-content: rgb(0, 0, 0);
  --color-accent: rgb(218, 165, 32);
  --color-accent-content: rgb(70, 70, 70);
  --color-neutral: rgb(55, 55, 55);
  --color-neutral-content: rgb(255, 255, 255);
  --color-info: rgb(30, 144, 255);
  --color-info-content: rgb(255, 255, 255);
  --color-success: rgb(50, 205, 50);
  --color-success-content: rgb(255, 255, 255);
  --color-warning: rgb(255, 165, 0);
  --color-warning-content: rgb(255, 255, 255);
  --color-error: rgb(220, 20, 60);
  --color-error-content: rgb(255, 255, 255);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 1;
}